#contain .warpper{
    background: url("image/chad-madden-774312-unsplash.jpg");
    height: 850px;
    overflow: hidden;
}
#index{
    width: 337px;
    height: 285px;
    background: rgba(255, 255, 255, 0.6);
    margin: 200px auto;
    position: relative;
    overflow: hidden;

}
#contain .warpper #index #greet{
    width: 100px;
    height: 70px;
    font-size: 20px;
    font-style: italic;
    position: absolute;
    top: 40px;
    left:98px;
}
#contain .warpper #index div{
    position: absolute;
    top: 115px;
    left: 50px;
    text-align: center;
    font-style: italic;
}
#contain .warpper #index #h{
    position: absolute;
    top: 160px;
}
#contain .warpper #list{
    width: 100%;
    height: 80px;
    background: rgba(255, 255, 255, 0.6);
    position: fixed;
}
#contain .warpper  #list li {
    float:left ;
    margin: 30px;
}
#contain .warpper  #list ul{
    float: right;
}
#contain .warpper  #list li:hover{
    color: #56adb8;
}
#index-2 .warpper{
    height: 100px;
}
#index-2 .warpper h1{
    text-align: center;
    margin-top: 28px;
}
#index-2 .warpper #content> li{
    width: 360px;
    height: 255px;
    margin:30px 44px;
    background: #d2cccb;
    float: left ;
    position: relative;
}
#index-2 .warpper ul li i{
    font-size: 40px;
}
#index-2 .warpper ul .Language li{
    width: 87px;
    float: left;
    background:rgba(000,000,000,.5);
    text-align: center;
    margin-right: 5px;
    border-radius: 9px;
}
#index-2 .warpper ul .Language{
    width: 280px;
    height: 23px;
    margin: 9px auto;
}
#index-2 .warpper #content li p{
    display: none;
}

#index-2 .warpper ul .Language .selected1{
    background:#faed6f;
}
#index-2 .warpper #content li .selected2{
    display: block;
}
#index-2 .warpper #content p{
    margin: 14px 28px;
}
#index-3 .warpper #techology #text {
    width: 100%;
    margin: 40px;
    font-size: 30px;
}
#index-3 .warpper #techology #text div{
    width: 40%;
    float: left;
    margin-right: 50px;
}
#index-3 .warpper #techology #text img{
    width: 40%;
    margin-left: 50px;
}


#index-3 .warpper #techology #study #circle li{
    float: left;
    margin-left: 86px;
    position: relative;
}
#index-3 .warpper #techology #circle div{
    width: 500px;

}
#index-3 .warpper #techology #circle div{
    width: 300px;
    height: 100px;
    position: absolute;
    top:120px;
    left: 22px;
    text-align: center;
    font-size: 37px;
    font-weight: 400;
    color: rgb(52, 73, 94);
}
#index-3 .warpper #techology #circle p{
    width: 300px;
    text-align: center;

}
#index-3 .warpper #techology canvas{
    margin:40px;
}
#my-works .warpper{
    clear: both;
}
#my-works .warpper #works-title{
    text-align: center;
    font-size: 50px;
    color: #37475d;
    font-weight: 400;
}
#my-works .warpper #catalog{
    width: 400px;
    margin-top: 60px;
    float: left;
}
#my-works .warpper #catalog h5{
    height: 280px;
    background-color: #2f5e62;
    overflow: hidden;
}
#my-works .warpper #catalog #nav{
    width: 173px;
    text-align: center;
    margin: 40px auto;
    padding: 80px;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border: 1px solid white;
    color: white;
}
#my-works .warpper #catalog ul{
    height: 1392px;
    /*height: 800px;*/
    background-color: #251e1f;
    color: white;
    overflow: hidden;
}
#my-works .warpper #catalog #catalogList li div{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
    float: left;
    margin-right: 40px;
}
#my-works .warpper #catalog #catalogList li{
    width:300px;
    margin: 100px auto;
    padding-left: 40px;
}
#my-works .warpper #natural h1{
    margin-bottom: 20px;
    color: #242425;
    font-weight: 200;
    font-size: 40px;
    padding-left: 480px;
}
#my-works .warpper #natural #cover img {
    width:400px;
    height: 435px;
    margin-left: 28px;
}
#my-works .warpper #natural #naturalImg{
    margin-left: 425px;
    width: 1310px;
    height: 527px;
    overflow: hidden;
    position: relative;
}
#my-works .warpper #natural #naturalImg #cover{
    width:3900px ;
    position: absolute;
    left: 0;
}
#my-works .warpper #natural #naturalImg #dot span{
    display: block;
    float: left;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #cccccc;
    margin: 10px 20px;
}
#my-works .warpper #natural #naturalImg #dot{
    width: 220px;
    height: 15px;
    margin-left: 590px;
    margin-top: 464px;
}
#my-works .warpper #natural #naturalImg #dot .selected{
    background-color: #305e61;
}
#my-works .warpper  #travel{
    position: relative;
    height: 1148px;
}
#my-works .warpper  #travel h1{
    position: absolute;
    width: 300px;
    top: 28px;
    left: 450px;
    font-style: normal;
    font-weight: 700;
    color: #45489a;
    display: inline;
}
#my-works .warpper  #travel #travel-text{
    display: inline;
    font-size: 20px;
    line-height: 26px;
    color: #343434;
    position: absolute;
    top: 30px;
    left: 692px;
}
#my-works .warpper  #travel #travel-img{
    position: absolute;
    top: 146px;
    left: 450px;
    border-bottom:1px solid #ccc;
    padding-bottom: 40px;
    margin-bottom: 40px;
}
#my-works .warpper  #travel #travel-img img:hover{
    opacity: .5;
}
#my-works .warpper #Plant{
    clear: both;
}
#my-works .warpper #Plant h1{
    width: 200px;
    margin-left: 440px;
    font-style: normal;
    font-weight: 700;
    color: #45489a;
    display: inline;
}
#my-works .warpper #Plant>p{
    width: 443px;
    float: right;
    font-size: 20px;
    line-height: 26px;
    color: #343434;
    margin-right: 700px;
}
#my-works .warpper #Plant #Plant-contain {
    width: 1140px;
    margin-left: 438px;
    margin-top: 40px;
}
#my-works .warpper #Plant #Plant-title{
    background: #305e61;
    height: 100px;
}

#my-works .warpper #Plant #Plant-contain #Plant-title li{
    float: left;
    margin-left: 135px;
    font-size: 35px;
    color: white;
    font-weight: 300;
    line-height:100px;
    width: 220px;
    text-align: center;
}

#my-works .warpper #Plant #Plant-contain #Plant-title .selected{
    background-color: #000000;
}

#my-works .warpper #Plant #model {
    position: relative;
    height: 860px;
    background: #cccccc;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    animation-fill-mode :  both;
}
.anmant1 {
    animation: xxx1 4s ease;
}
.anmant2 {
    animation: xxx2 4s ease;
}
#my-works .warpper #Plant #model img{
    width: 380px;
    height: 260px;
    margin-bottom: 10px;

}
#my-works .warpper #Plant #model p{
    width: 670px;
    float: right;
    height: 250px;
    font-size: 20px;
    color: #7a7a7a;
    line-height: 37px;
}
#my-works .warpper #Plant #model p span{
    display: inline-block;
    font-size: 32px;
    font-weight: 600;
    color: #7a7a7a;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
}
#my-works .warpper #Plant #model ul{
    position: absolute;
    background: #f4f4f4;
    width: 1140px;
    height: 830px;
}
#my-works .warpper #Plant #model ul:first-child{
    transform: translateZ(570px);
}
#my-works .warpper #Plant #model ul:nth-child(2){
    transform: translateX(-1140px)  rotateY(-90deg) translateZ(-570px);
}
#my-works .warpper #Plant #model ul:nth-child(3){
    transform:translateX(1140px) rotateY(90deg)  translateZ(-570px);
}
@keyframes xxx1 {
    0%{}
    100%{
        transform: rotateY(90deg);
    }
}
@keyframes xxx2 {
    0%{}
    100%{
        transform: rotateY(-90deg);
    }
}